<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>visum | summary</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <div id="player"></div>
    <div style="display: flex; width: 100%; flex-direction: row">
      <div>
        <h3>Tools</h3>
        <ul>
          {% for item in summary.get("tools", []) %}
          <li>
            <a
              href="#{{ item.get('time') }}"
              onclick="seekTo({{ item.get('time') }})"
              >({{ item.get("formattedTime") }})</a
            >: {{ item.get("text") }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>Steps</h3>
        <ol>
          {% for item in summary.get("steps", []) %}
          <li>
            <a
              href="#{{ item.get('time') }}"
              onclick="seekTo({{ item.get('time') }})"
              >({{ item.get("formattedTime") }})</a
            >: {{ item.get("text") }}
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <script>
      // https://developers.google.com/youtube/iframe_api_reference#Getting_Started
      var tag = document.createElement("script");

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player("player", {
          height: "315",
          width: "560",
          videoId: "{{ video_id }}",
          playerVars: {
            playsinline: 1,
          },
          events: {
            onReady: onPlayerReady,
          },
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      function seekTo(time = 0) {
        player.seekTo(time);
      }
    </script>
  </body>
</html>
